In [2]:
import pandas as pd

In [4]:
injuryData = pd.read_csv("~/Documents/Job Search - 2023/NBA_Injury_Predictor/Injuries.csv")

In [5]:
injuryData

,Unnamed: 0,Date,Team,Acquired,Relinquished,Notes
0,0,1951-12-25,Bullets,NaN,Don Barksdale,placed on IL
1,1,1952-12-26,Knicks,NaN,Max Zaslofsky,placed on IL with torn side muscle
2,2,1956-12-29,Knicks,NaN,Jim Baechtold,placed on inactive list
3,3,1959-01-16,Lakers,NaN,Elgin Baylor,player refused to play after being denied a ro...
4,4,1961-11-26,Lakers,NaN,Elgin Baylor,player reported for military duty
...,...,...,...,...,...,...
37662,37662,2023-04-16,Clippers,Marcus Morris,NaN,activated from IL
37663,37663,2023-04-16,Grizzlies,Dillon Brooks,NaN,activated from IL
37664,37664,2023-04-16,Grizzlies,Ja Morant,NaN,activated from IL
37665,37665,2023-04-16,Grizzlies,Jaren Jackson Jr.,NaN,activated from IL
37666,37666,2023-04-16,Grizzlies,Santi Aldama,NaN,activated from IL